<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>This is the End</key>
	<dict>
		<key>Worlds</key>
		<array>
			<dict>
				<key>Monsters</key>
				<dict>
					<key>Name of Monster</key>
					<dict/>
				</dict>
				<key>Level 1</key>
				<dict>
					<key>hasStory</key>
					<true/>
					<key>Story</key>
					<dict/>
					<key>Level</key>
					<dict/>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
